#Build

*/build/

#Binaries

*.o
*.a
*.so
*.out

#CMake

CMakeCache.txt
CmakeFiles/
cmake_install.cmake
Makefile

#VSCode
.vscode/

#Background subtraction dataset
background_subtraction/frames

#pycache
__pycache__/